<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin-layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1">
    <title>OPG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"crossorigin="anonymous">
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <h1>OPERATION GROUP</h1>
            
        
            <form action="#"th:action="@{/insertOpg}"th:object="${opg}"method="post"class="form">
            
            <div class="form-group">
                 
               
                
               
                
                <div class="form-group">
                    <label for="opgrp">Operation Group name</label>
                    <input class="form-control"type="text"th:field="*{opgrp}"id="opgrp"placeholder="Operation Group name"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('opgrp')}"th:errors="*{String}"></div>
                </div>
                
                <div class="form-group">
                    <label for="oprn">Operation Name</label>
                    <input class="form-control"type="text"th:field="*{oprn}"id="oprn"placeholder="Operation Name"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('oprn')}"th:errors="*{String}"></div>
                </div>
                
                 <div class="form-group">
                    <label for="grpd">Group Description</label>
                    <input class="form-control"type="text"th:field="*{grpd}"id="grpd"placeholder="Group Description"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('grpd')}"th:errors="*{String}"></div>
                </div> 
                
                <div class="form-group">
                    <label for="orgncode">Organisation Code</label>
                    <input class="form-control"type="text"th:field="*{orgncode}"id="orgncode"placeholder="Organisation Code"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('orgncode')}"th:errors="*{String}"></div>
                </div>
                
                <div class="form-group">
                    <label for="sname">Short Name</label>
                    <input class="form-control"type="text"th:field="*{sname}"id="sname"placeholder="Short Name"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('sname')}"th:errors="*{String}"></div>
                </div>
                
                
                 <div class="form-group">
                    <label for="allocmethod">Price Allocation Method</label><br>
                   <input  type="radio"th:field="*{allocmethod}"id="allocmethod"name="allocmethod1"value="QTY">
					<label for="allocmethod1">QUANTITY</label><br>
					<input type="radio"th:field="*{allocmethod}"id="allocmethod"name="allocmethod2"value="PERCENTAGE">
					<label for="allocmethod2">PERCENTAGE</label><br>
					<input type="radio"th:field="*{allocmethod}"id="allocmethod"name="allocmethod3"value="PROPORTION">
					<label for="allocmethod3">PROPORTION</label>
					<div class="alert alert-warning"th:if="${#fields.hasErrors('allocmethod')}"th:errors="*{String}"></div>
                </div> 
                
                <div class="form-group">
                    <label for="value">Value for Percentage or Proportion</label>
                    <input class="form-control"type="number"th:field="*{value}"id="value"placeholder="Value for Percentage or Proportion"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('value')}"th:errors="*{Number}"></div>
                </div><br>
                 <div class="form-group" >
                    <input class="form-control" type="hidden"  th:value="${mode}" name="mode">
                </div>
                
                <input type="submit"  class="btn btn-success" th:value="Save">
                <input type="button"  class="btn btn-success" value="Cancel" onclick="window.history.back();">
            </form>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"crossorigin="anonymous"></script>
</body>