<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin-layout">

 <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">

<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1">
    <title>BOM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
            <div class="row">
            <h1>BOM</h1>
            
        
            <form action="#"th:action="@{/insertBom}"th:object="${bom}"method="post"class="form">
            
            <div class="form-group">
                 
                <div class="form-group">
                    <label for="bomcode">BOM CODE</label>
                    <input class="form-control"type="text"th:field="*{bomcode}"id="bomcode"placeholder="BOM CODE"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('bomcode')}"th:errors="*{String}"></div>
                </div>
                
                <div class="form-group">
                    <label for="plant">PLANT</label>
                    <input class="form-control"type="text"th:field="*{plant}"id="plant"placeholder="PLANT"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('plant')}"th:errors="*{String}"></div>
                </div>
                
                 <div class="form-group">
                    <label for="bhmatl">Material</label>
                    <input class="form-control"type="text"th:field="*{bhmatl}"id="bhmatl"placeholder="Material"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('bhmatl')}"th:errors="*{text}"></div>
                </div>
                
               
                
               <div class="form-group">
                    <label for="buom">Unit of Measure</label>
                    <input class="form-control"type="text"th:field="*{buom}"id="buom"placeholder="UOM"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('buom')}"th:errors="*{integer}"></div>
                </div>
                
                               
                <div class="form-group">
                    <label for="buqty">Base Quantity</label>
                    <input class="form-control"type="number"th:field="*{buqty}"id="buqty"placeholder="Base Quantity" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('buqty')}"th:errors="*{number}"></div>
                </div>
                
                <div class="form-group">
                    <label for="prduom">prd uom</label>
                    <input class="form-control"type="text"th:field="*{prduom}"id="prduom"placeholder="PRDUOM" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('prduom')}"th:errors="*{text}"></div>
                </div>
                
                <div class="form-group">
                    <label for="prduomqty">Production Quantity</label>
                    <input class="form-control"type="number"th:field="*{prduomqty}"id="prduomqty"placeholder="Production Quantity" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('prduomqty')}"th:errors="*{number}"></div>
                </div>
                
                <div class="form-group">
                    <label for="cnvbuomqty">Conversion BUOM Quantity</label>
                    <input class="form-control"type="number"th:field="*{cnvbuomqty}"id="cnvbuomqty"placeholder="Conversion Quantity" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('cnvbuomqty')}"th:errors="*{number}"></div>
                </div>
                
                
                <div class="form-group">
                    <label for="version">VERSION</label>
                    <input class="form-control"type="number"th:field="*{version}"id="version"placeholder="VERISON" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('version')}"th:errors="*{number}"></div>
                </div>
                
                <div class="form-group">
                    <label for="cnvpuomqty">Production Conversion BUOM Quantity</label>
                    <input class="form-control"type="number"th:field="*{cnvpuomqty}"id="cnvpuomqty"placeholder="Production Conversion Quantity" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('cnvpuomqty')}"th:errors="*{number}"></div>
                </div>
                
                
                
                 <div class="form-group">
                    <label for="valfdate">FROM DATE</label>
                    <input class="form-control"type="date"th:field="*{valfdate}"id="valfdate"placeholder="FROM DATE"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('valfdate')}"th:errors="*{integer}"></div>
                </div>
                
                 <div class="form-group">
                    <label for="valtdate">TO DATE</label>
                    <input class="form-control"type="date"th:field="*{valtdate}"id="valtdate"placeholder="TO DATE"required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('valtdate')}"th:errors="*{integer}"></div>
                </div>
                
              <div class="form-group">
                    <label for="islnum">ITEM SERIAL NUMBER</label>
                    <input class="form-control"type="number"th:field="*{islnum}"id="islnum"placeholder="ITEM SERIAL NUMBER" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('islnum')}"th:errors="*{number}"></div>
                </div>
                
                <div class="form-group">
                    <label for="imatl">ITEM MATERIAL</label>
                    <input class="form-control"type="text"th:field="*{imatl}"id="imatl"placeholder="ITEM MATERIAL" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('imatl')}"th:errors="*{String}"></div>
                </div>
                
                <div class="form-group">
                    <label for="ibuom">ITEM BASE UNIT OF MEASURE</label>
                    <input class="form-control"type="text"th:field="*{ibuom}"id="ibuom"placeholder="ITEM BASE UNIT OF MEASURE" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('ibuom')}"th:errors="*{String}"></div>
                </div>
                
                <div class="form-group">
                    <label for="ibuqty">Item Material Basic Uom Qty  </label>
                    <input class="form-control"type="number"th:field="*{ibuqty}"id="ibuqty"placeholder="Item Material Basic Uom Qty" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('ibuqty')}"th:errors="*{number}"></div>
                </div>
                
                <div class="form-group">
                    <label for="coprind">Co product indicator </label>
                    <label for="coprind">coprind</label>
                   <input  type="radio"th:field="*{coprind}"id="coprind"name="coprind1"value="YES">
					<label for="coprind1">YES</label><br>
					<input type="radio"th:field="*{coprind}"id="coprind"name="coprind2"value="NO">
					<label for="coprind2">NO</label><br><div class="alert alert-warning"th:if="${#fields.hasErrors('coprind')}"th:errors="*{String}"></div>
                </div>
                
                <div class="form-group">
                    <label for="hmratio">Main material ratio</label>
                    <input class="form-control"type="number"th:field="*{hmratio}"id="hmratio"placeholder="Main material ratio" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('hmratio')}"th:errors="*{number}"></div>
                </div>
                
                <div class="form-group">
                    <label for="copratio">Coproduct ratio</label>
                    <input class="form-control"type="number"th:field="*{copratio}"id="copratio"placeholder="Coproduct ratio" required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('copratio')}"th:errors="*{number}"></div>
                </div>
                
                <div class="form-group">
                    <label for="apptype">APP TYPE</label><br>
                   <input  type="radio"th:field="*{apptype}"id="apptype"name="apptype1"value="PER">
                   <label for="apptype1">PERCENTAGE</label>
                   <input  type="radio"th:field="*{apptype}"id="apptype"name="apptype1"value="NO">
					<label for="apptype2">APROPORTION</label>
					<input type="radio"th:field="*{apptype}"id="apptype"name="apptype2"value="QUAN">
					<label for="apptype3">QUANTITY</label>
					<div class="alert alert-warning"th:if="${#fields.hasErrors('apptype')}"th:errors="*{String}"></div>
                </div>
                
                <div class="form-group">
                    <label for="ustyp">USAGE TYPE</label><br>
                   <input  type="radio"th:field="*{ustyp}"id="ustyp"name="ustyp1"value="INHP">
                   <label for="ustyp1">INHP</label>
                   <input  type="radio"th:field="*{ustyp}"id="ustyp"name="ustyp1"value="NO">
					<label for="ustyp2">NO</label>
					<div class="alert alert-warning"th:if="${#fields.hasErrors('ustyp')}"th:errors="*{String}"></div>
                </div>
                
                <div class="form-group">
                    <label for="ustypd">Use type description </label>
                    <input class="form-control"type="text"th:field="*{ustypd}"id="ustypd"placeholder="Use type description " required="true"autofocus="true">
                    <div class="alert alert-warning"th:if="${#fields.hasErrors('ustypd')}"th:errors="*{text}"></div>
                </div>
                
                <div class="form-group">
                    <label for="ostat">ORGANISATION STATUS</label><br>
                    <input  type="radio"th:field="*{ostat}"id="ostat"name="ostat1"value="TRIVIAL">
					<label for="ostat1">TRIVIAL</label>
					<input type="radio"th:field="*{ostat}"id="ostat"name="ostat2"value="ACTIVE">
					<label for="ostat2">ACTIVE</label>
					<input type="radio"th:field="*{ostat}"id="ostat"name="ostat3"value="DORMANT">
					<label for="ostat3">DORMANT</label>
					 <div class="alert alert-warning" th:if="${#fields.hasErrors('ostat')}" th:errors="*{integer}"></div>
                </div>
                 <div class="form-group" >
                    <input class="form-control" type="hidden"  th:value="${mode}" name="mode">
                </div>
                
                <input type="submit"  class="btn btn-success" th:value="Save">
                <input type="button"  class="btn btn-success" value="Cancel" onclick="window.history.back();">
            </form>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"crossorigin="anonymous"></script>
</body>