<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin-layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ORGANISATION GOVT NUM</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
	<div layout:fragment="content">
	
<p>
<p>
	<form th:action="@{/searchOgn}" method="get">
<button  style="float: left;"><a th:href="@{/insertOgn}">ADD </a></button>
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by orgncode" size="50"  >
  <button type="submit" class="btn btn-info"  style="float: right;">Search</button>
  <button type="reset" class="btn btn-info"  style="float: right;" >Reset</button>
  </form>
		<form method="post" th:action="@{/findOGN}">
			<h1>ORGANISATION GOVT NUM</h1>

			<table class="table table-success table-striped">
				<thead>
					<tr>
						<th scope="col">ogn_pk</th>
						<th scope="col">orgncode</th>
						<th scope="col">seton</th>
						<th scope="col">type</th>
						<th scope="col">value</th>

					</tr>
				</thead>
				<tbody>

					<tr th:each="ogn : ${ogns}">

						<td scope="row" th:text=${ogn.ogn_pk}>-</td>
						<td scope="row" th:text=${ogn.orgncode}>-</td>
						<td scope="row" th:text=${ogn.seton}>-</td>
						<td scope="row" th:text=${ogn.type}>-</td>
						<td scope="row" th:text=${ogn.value}>-</td>
						<td>
                        <form></form>
                      	 <form th:action="@{/insertOgn}" th:id="|edit_ogn_${ogn.ogn_pk}|" method="post">
                       		<input type="hidden" name="mode" th:value="edit">
                       		<input type="hidden" name="ogn_pk" th:value="${ogn.ogn_pk}">
                       		<input type="hidden" name="orgncode" th:value="${ogn.orgncode}">
		                    <input type="hidden" name="seton" th:value="${ogn.seton}">
		                    <input type="hidden" name="type" th:value="${ogn.type}">
		                    <input type="hidden" name="value" th:value="${ogn.value}">
		                    
		                    <a href="#"  th:onclick="|document.getElementById('edit_ogn_${ogn.ogn_pk}').submit();|" class="btn btn-primary a-btn-slide-text">
		                     <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    		</a>
              			</form>
              			</td>
                        <td>
                          <form th:action="@{/insertOgn}" th:id="|delete_ogn_${ogn.ogn_pk}|" method="post">
                       		<input type="hidden" name="mode" th:value="delete">
                       		<input type="hidden" name="ogn_pk" th:value="${ogn.ogn_pk}">
		                    <a href="#"  th:onclick="|document.getElementById('delete_ogn_${ogn.ogn_pk}').submit();|" class="btn btn-primary a-btn-slide-text"> 
		                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    		</a>
              			</form>
                        </td>

					</tr>
				</tbody>


			</table>

			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
				crossorigin="anonymous"></script>
</body>
</html>