<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin-layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FYD PERIOD</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
	<div layout:fragment="content">
	<p>
		<p>
		<form th:action="@{/insertFydperiod}" method="get" class="pull-left">
		<button type="submit" class="btn btn-info">ADD </a></button>
		</form>
		<form th:action="@{/searchFydPeriod}" method="get" class="pull-right">
				<input type="text" name="keyword"  th:value="${keyword}"
				placeholder="Find by FydPeriodcode" size="50">
			<button type="submit" class="btn btn-info" style="float: right;">Search</button>
			<button type="reset" class="btn btn-info" style="float: right;">Reset</button>
		</form><br>
		<form method="post" th:action="@{/findFydPeriod}">
			<h1>FYD PERIOD</h1>

			<table class="table table-success table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">fydcode</th>
						<th scope="col">period</th>
						<th scope="col">year</th>
						<th scope="col">fromdate</th>
						<th scope="col">todate</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fydp : ${fydps}">
						<td scope="row" th:text=${fydp.fydperiodpk}>-</td>
						<td scope="row" th:text=${fydp.fydcode}>-</td>
						<td scope="row" th:text=${fydp.period}>-</td>
						<td scope="row" th:text=${fydp.year}>-</td>
						<td scope="row" th:text=${fydp.fromdate}>-</td>
						<td scope="row" th:text=${fydp.todate}>-</td>
						<td>
                        <form></form>
                      	 <form th:action="@{/insertFydperiod}" th:id="|edit_fydp_${fydp.fydperiodpk}|" method="post">
                       		<input type="hidden" name="mode" th:value="edit">
                       		<input type="hidden" name="fydperiodpk" th:value="${fydp.fydperiodpk}">
                       		<input type="hidden" name="fydcode" th:value="${fydp.fydcode}">
		                    <input type="hidden" name="period" th:value="${fydp.period}">
		                    <input type="hidden" name="fromdate" th:value="${fydp.fromdate}">
		                    <input type="hidden" name="todate" th:value="${fydp.todate}">
		                   <input type="hidden" name="year" th:value="${fydp.year}">
		                    <a href="#"  th:onclick="|document.getElementById('edit_fydp_${fydp.fydperiodpk}').submit();|" class="btn btn-primary a-btn-slide-text">
		                     <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    		</a>
              			</form>
              			</td>
                        <td>
                          <form th:action="@{/insertFydPeriod}" th:id="|delete_fydp_${fydp.fydperiodpk}|" method="post">
                       		<input type="hidden" name="mode" th:value="delete">
                       		<input type="hidden" name="fydperiodpk" th:value="${fydp.fydperiodpk}">
		                    <a href="#"  th:onclick="|document.getElementById('delete_fydp_${fydp.fydperiodpk}').submit();|" class="btn btn-primary a-btn-slide-text"> 
		                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    		</a>
              			</form>
                        </td>
					</tr>
				</tbody>


			</table>

			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
				crossorigin="anonymous"></script>
</body>
</html>