<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin-layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PROCESS STEP</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
	<div layout:fragment="content">
	
<p>
<p>
	<form th:action="@{/searchPstep}" method="get">
<button  style="float: left;"><a th:href="@{/insertPstep}">ADD </a></button>
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Material" size="50"  >
  <button type="submit" class="btn btn-info"  style="float: right;">Search</button>
  <button type="reset" class="btn btn-info"  style="float: right;" >Reset</button>
  </form>
  
  <br><br>
		<div th:if="${message}">
				<h4 style="color: blue" th:text="${message}"></h4>
		</div>
		<div th:if="${error}">
				<h4 style="color: red" th:text="${error}"></h4>
		</div>
		<form method="post" th:action="@{/uploadEntityFile?fileType=Processstep}" enctype="multipart/form-data">
		<input type="file" name="file">
			<button type="submit" class="btn btn-info" style="float: left;">Bulk Upload</button>
			
		</form><br><br>
		<form method="post" th:action="@{/findProcessstep}">
			<h1>PROCESS STEP</h1>

			<table class="table table-success table-striped">
				<thead>
					<tr>

						<th scope="col">buom</th>
						<th scope="col">cnvbuomqty</th>
						<th scope="col">interop</th>
						<th scope="col">matlcode</th>
						<th scope="col">prcsctr</th>
						<th scope="col">prcsstepcode</th>
						<th scope="col">prcsuom</th>
						<th scope="col">prcsuomqty</th>
						<th scope="col">prresou</th>
						<th scope="col">prscnum</th>
						<th scope="col">runop</th>
						<th scope="col">setup</th>
						<th scope="col">stepnum</th>

					</tr>
				</thead>
				<tbody>

					<tr th:each="pstep: ${psteps}">

						<td scope="row" th:text=${pstep.buom}>-</td>
						<td scope="row" th:text=${pstep.cnvbuomqty}>-</td>
						<td scope="row" th:text=${pstep.interop}>-</td>
						<td scope="row" th:text=${pstep.matlcode}>-</td>
						<td scope="row" th:text=${pstep.prcsctr}>-</td>
						<td scope="row" th:text=${pstep.prcsstepcode}>-</td>
						<td scope="row" th:text=${pstep.prcsuom}>-</td>
						<td scope="row" th:text=${pstep.prcsuomqty}>-</td>
						<td scope="row" th:text=${pstep.prresou}>-</td>
						<td scope="row" th:text=${pstep.prscnum}>-</td>
						<td scope="row" th:text=${pstep.runop}>-</td>
						<td scope="row" th:text=${pstep.setup}>-</td>
						<td scope="row" th:text=${pstep.stepnum}>-</td>
						 <td>
                        <form></form>
                      	 <form th:action="@{/insertPstep}" th:id="|edit_pstep_${pstep.prcsstepcode}|" method="post">
                       		<input type="hidden" name="mode" th:value="edit">
                       		<input type="hidden" name="buom" th:value="${pstep.buom}">
                       		<input type="hidden" name="cnvbuomqty" th:value="${pstep.cnvbuomqty}">
                       		<input type="hidden" name="interop" th:value="${pstep.interop}">
                       		<input type="hidden" name="matlcode" th:value="${pstep.matlcode}">
                       		<input type="hidden" name="prcsctr" th:value="${pstep.prcsctr}">
                       		<input type="hidden" name="prcsstepcode" th:value="${pstep.prcsstepcode}">
                       		<input type="hidden" name="prcsuom" th:value="${pstep.prcsuom}">
		                    <input type="hidden" name="prcsuomqty" th:value="${pstep.prcsuomqty}">
		                    <input type="hidden" name="prresou" th:value="${pstep.prresou}">
		                    <input type="hidden" name="prscnum" th:value="${pstep.prscnum}">
		                    <input type="hidden" name="runop" th:value="${pstep.runop}">
		                    <input type="hidden" name="setup" th:value="${pstep.setup}">
		                    <input type="hidden" name="stepnum" th:value="${pstep.stepnum}">
		                    <a href="#"  th:onclick="|document.getElementById('edit_pstep_${pstep.prcsstepcode}').submit();|" class="btn btn-primary a-btn-slide-text">
		                     <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    		</a>
              			</form>
              			</td>
                        <td>
                          <form th:action="@{/insertPstep}" th:id="|delete_pstep_${pstep.prcsstepcode}|" method="post">
                       		<input type="hidden" name="mode" th:value="delete">
                       		<input type="hidden" name="prcsstepcode" th:value="${pstep.prcsstepcode}">
		                    <a href="#"  th:onclick="|document.getElementById('delete_pstep_${pstep.prcsstepcode}').submit();|" class="btn btn-primary a-btn-slide-text"> 
		                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    		</a>
              			</form>
                        </td>

					</tr>
				</tbody>


			</table>

			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
				crossorigin="anonymous"></script>
</body>
</html>