<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin-layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OPERATION</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
	<div layout:fragment="content">
	
	
<p>
<p>
	<form th:action="@{/searchOprn}" method="get">
<button  style="float: left;"><a th:href="@{/insertOprn}">ADD </a></button>
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Oprn" size="50"  >
  <button type="submit" class="btn btn-info"  style="float: right;">Search</button>
  <button type="reset" class="btn btn-info"  style="float: right;" >Reset</button>
  </form>
		<form method="post" th:action="@{/findOprn}">
			<h1>OPERATION</h1>

			<table class="table table-success table-striped">
				<thead>
					<tr>
						<th scope="col">costacc</th>
						<th scope="col">lname</th>
						<th scope="col">oprn</th>
						<th scope="col">opuom</th>
						<th scope="col">orgncode</th>
						<th scope="col">ostat</th>
						<th scope="col">pricebase</th>
						<th scope="col">sname</th>
						<th scope="col">valfdate</th>
						<th scope="col">valtdate</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="oprn: ${oprns}">

						<td scope="row" th:text=${oprn.costacc}>-</td>
						<td scope="row" th:text=${oprn.lname}>-</td>
						<td scope="row" th:text=${oprn.oprn}>-</td>
						<td scope="row" th:text=${oprn.opuom}>-</td>
						<td scope="row" th:text=${oprn.orgncode}>-</td>
						<td scope="row" th:text=${oprn.ostat}>-</td>
						<td scope="row" th:text=${oprn.pricebase}>-</td>
						<td scope="row" th:text=${oprn.sname}>-</td>
						<td scope="row" th:text=${oprn.valfdate}>-</td>
						<td scope="row" th:text=${oprn.valtdate}>-</td>
						<td>
                        <form></form>
                      	 <form th:action="@{/insertOprn}" th:id="|edit_oprn_${oprn.oprn}|" method="post">
                       		<input type="hidden" name="mode" th:value="edit">
                       		<input type="hidden" name="oprn" th:value="${oprn.oprn}">
                       		<input type="hidden" name="costacc" th:value="${oprn.costacc}">
		                    <input type="hidden" name="lname" th:value="${oprn.lname}">
		                    <input type="hidden" name="opuom" th:value="${oprn.opuom}">
		                    <input type="hidden" name="orgncode" th:value="${oprn.orgncode}">
		                    <input type="hidden" name="ostat" th:value="${oprn.ostat}">
		                    <input type="hidden" name="pricebase" th:value="${oprn.pricebase}">
		                    <input type="hidden" name="sname" th:value="${oprn.sname}">
		                    <input type="hidden" name="valfdate" th:value="${oprn.valfdate}">
		                    <input type="hidden" name="valtdate" th:value="${oprn.valtdate}">
		                    <a href="#" th:data-elementid="|edit_oprn_${oprn.oprn}|" th:onclick="|document.getElementById(this.getAttribute('data-elementid')).submit();|" class="btn btn-primary a-btn-slide-text">
		                     <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    		</a>
              			</form>
              			</td>
                        <td>
                          <form th:action="@{/insertOprn}" th:id="|delete_oprn_${oprn.oprn}|" method="post">
                       		<input type="hidden" name="mode" th:value="delete">
                       		<input type="hidden" name="oprn" th:value="${oprn.oprn}">
		                   <a href="#" th:data-elementid="|delete_oprn_${oprn.oprn}|" th:onclick="|document.getElementById(this.getAttribute('data-elementid')).submit();|" class="btn btn-primary a-btn-slide-text">
		                     <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    		</a>
              			</form>
                        </td>

					</tr>
				</tbody>


			</table>

			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
				crossorigin="anonymous"></script>
</body>
</html>