<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">


<title>Header</title>

</head>

<body>

  <head th:replace="fragments/header :: header">

<div class="row" style="margin-top: 100px">
  <div class="container" id="mainContent">

    <div class="row">
    
    <div class="col-md-4" align="Right">
        <div th:replace="fragments/sidebar :: sidebar"></div>
      </div>
      <div class="col-md-8">
        <div layout:fragment="content"></div>
      </div>

      
    </div>
  </div>
 <div class=row style="margin-top:325px"></div>
      <div th:replace="fragments/footer :: footer"></div>

</body>

</html>